@page "/Error"
@inject NavigationManager NavigationManager

<h3>Ocurrió un error, redirigiendo...</h3>

@code {
    protected override Task OnInitializedAsync()
    {
        NavigationManager.NavigateTo("/", true);
        return Task.CompletedTask;
    }
}