@page "/inicio"
@using Interfaz.ServiciosInterfaz
@using Servicios.Gestores
@inject GestorProyectos GestorProyectos
@rendermode InteractiveServer
@inject LogicaSesion Sesion
@inject NavigationManager Navigation

@if(Sesion.UsuarioLogueado == null)
{
}
else
{
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="display-5">Bienvenido, @Sesion.UsuarioLogueado?.Nombre @Sesion.UsuarioLogueado?.Apellido a <strong>TaskTrackPro</strong></h1>
            <h3 class="lead">Tu solución integral para la gestión de proyectos.</h3>
        </div>

        <hr />

        <p>
            TaskTrackPro es una aplicación web diseñada para facilitar la organización, seguimiento y planificación de proyectos en equipo.
            Permite crear y administrar proyectos, asignar tareas con dependencias, establecer fechas clave y calcular automáticamente el camino crítico para optimizar la duración del proyecto.
        </p>

        <p>
            Con un enfoque colaborativo, TaskTrackPro ofrece funcionalidades como notificaciones automáticas, control de permisos por roles
            y visualización clara del progreso del proyecto.
        </p>

        <p>
            Ideal para equipos que buscan eficiencia, transparencia y control total en la ejecución de sus proyectos.
        </p>
    </div>
}

@code {
    private bool sesionCargada = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !sesionCargada)
        {
            bool haySesionActiva = await Sesion.HaySesionActiva();

            if (!haySesionActiva)
            {
                Navigation.NavigateTo("/");
            }
            else
            {
                StateHasChanged(); // Vuelve a renderizar para mostrar la sesión activa
            }

            sesionCargada = true;
        }
    }
}