@page "/proyecto/{id:int}/recursos_exclusivos"
@rendermode InteractiveServer
@using System.ComponentModel.DataAnnotations
@using Dominio.Excepciones
@using Dominio
@using Servicios.Gestores
@using DTOs
@using Interfaz.ServiciosInterfaz
@inject GestorProyectos GestorProyectos
@inject GestorRecursos GestorRecursos
@inject NavigationManager NavigationManager
@inject LogicaSesion Sesion


@if(Sesion.UsuarioLogueado == null || !sesionCargada)
{
}
else if (proyecto == null)
{
    <div class="alert alert-danger">No se encontró el proyecto.</div>
}
else
{
    <h3>Recursos Exclusivos del proyecto @proyecto.Nombre</h3>

    @if (Sesion.UsuarioLogueado.Equals(proyecto.Administrador))
    {
        <button class="btn btn-primary mb-3">
            <i class="bi bi-plus-circle"></i> Crear recurso
        </button>
    }

    <!-- Aca seguiría el resto del contenido de la página -->
}

@code {

    [Parameter] public int Id { get; set; }

    private bool sesionCargada = false;

    private Proyecto proyecto;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !sesionCargada)
        {
            bool haySesionActiva = await Sesion.HaySesionActiva();

            if (!haySesionActiva)
            {
                NavigationManager.NavigateTo("/");
            }
            else
            {
                await Sesion.ActualizarSesion();
                proyecto = GestorProyectos.ObtenerProyectoPorId(Id);

                if (proyecto == null)
                {
                    NavigationManager.NavigateTo("/not-found"); // o poné un mensaje si preferís
                    return;
                }

                sesionCargada = true;
                StateHasChanged(); // vuelve a renderizar la página
            }
        }
    }

}