@page "/usuarios"
@inject ServiciosInterfaz.UsuarioActual UsuarioActual
@rendermode InteractiveServer
@inject GestorUsuarios GestorUsuarios
@using System.ComponentModel.DataAnnotations
@using Dominio
@using Dominio.Excepciones
@using Interfaz.ServiciosInterfaz
@using Servicios.Gestores

<h3>USUARIOS:</h3>

@if (!UsuarioActual.UsuarioLogueado.EsAdministradorSistema)
{
    <p class="text-danger">Acceso denegado. Solo disponible para administradores del sistema.</p>
}
else
{
    <div class="d-flex justify-content-end mb-3">
        <button class="btn btn-dark" @onclick="MostrarFormularioCrearUsuario">Crear nuevo usuario</button>
    </div>

    @if (mostrarError)
    {
        <div class="alert alert-danger" role="alert">@errorMensaje</div>
    }
    <!--falta validar que los campos sean correctos segun las validaciones del back-->
    @if (mostrarFormCrear) 
    {
        <EditForm Model="nuevoUsuario" OnValidSubmit="CrearUsuario">
            <DataAnnotationsValidator />
            <div class="card mb-4">
                <div class="card-header"><strong>Nuevo Usuario</strong></div>
                <div class="card-body">
                    <div class="mb-3">
                        <label>Nombre</label>
                        <InputText class="form-control" @bind-Value="nuevoUsuario.Nombre"  @oninput="OcultarError" />
                    </div>
                    <div class="mb-3">
                        <label>Apellido</label>
                        <InputText class="form-control" @bind-Value="nuevoUsuario.Apellido"  @oninput="OcultarError" />
                    </div>
                    <div class="mb-3">
                        <label>Fecha de nacimiento</label>
                        <InputDate class="form-control" @bind-Value="nuevoUsuario.FechaNacimiento"  @oninput="OcultarError"/>
                    </div>
                    <div class="mb-3">
                        <label>Email</label>
                        <InputText class="form-control" @bind-Value="nuevoUsuario.Email"  @oninput="OcultarError"/>
                    </div>
                    <div class="mb-3">
                        <label>Contraseña</label>
                        <InputText class="form-control" type="password" @bind-Value="nuevoUsuario.Contrasena"  @oninput="OcultarError"/>
                    </div>
                    <div>
                        <button class="btn btn-success" type="submit">Crear</button>
                        <button class="btn btn-secondary ms-2" type="button" @onclick="CancelarCrearUsuario">Cancelar</button>
                    </div>
                </div>
            </div>
        </EditForm>
    }
    
    <!--falta validar que los campos sean correctos segun las validaciones del back-->
    <!--falta que se cambien correctamente los campos modificados y que se cierre la card una vez guardados-->
    @if (mostrarErrorEditar)
    {
        <div class="alert alert-danger" role="alert">
            @errorMensajeEditar
        </div>
    }

    @if (mostrarFormEditar)
    {
        <EditForm Model="usuarioAEditar" OnValidSubmit="GuardarCambiosUsuario">
            <DataAnnotationsValidator />
            <div class="card mb-4">
                <div class="card-header"><strong>Editar Usuario</strong></div>
                <div class="card-body">
                    <div class="mb-3">
                        <label>Nombre</label> <!--no se puede editar, tiene que ser fijo-->
                        <InputText class="form-control" @bind-Value="usuarioAEditar.Nombre" @oninput="OcultarErrorEditar" />
                    </div>
                    <div class="mb-3">
                        <label>Apellido</label> <!--no se puede editar, tiene que ser fijo-->
                        <InputText class="form-control" @bind-Value="usuarioAEditar.Apellido" @oninput="OcultarErrorEditar" />
                    </div>
                    <div class="mb-3">
                        <label>Fecha de nacimiento</label> <!--no se puede editar, tiene que ser fijo-->
                        <InputDate class="form-control" @bind-Value="usuarioAEditar.FechaNacimiento" @oninput="OcultarErrorEditar" />
                    </div>
                    <div class="mb-3">
                        <label>Email</label> 
                        <InputText class="form-control" @bind-Value="usuarioAEditar.Email" @oninput="OcultarErrorEditar" />
                    </div>
                    <div class="mb-3">
                        <label>Roles</label><br />
                        <InputCheckbox @bind-Value="usuarioAEditar.EsAdministradorSistema" /> <label class="me-3">Administrador de sistema</label>
                        <InputCheckbox @bind-Value="usuarioAEditar.EsAdministradorProyecto" /> <label>Administrador de proyecto</label>
                    </div>
                    <div>
                        <button class="btn btn-success" @onclick="GuardarCambiosUsuario">Guardar cambios</button>
                        <button class="btn btn-danger ms-2" type="button" @onclick="EliminarUsuario">Eliminar usuario</button>
                        <button class="btn btn-secondary ms-2" type="button" @onclick="CancelarEditarUsuario">Cancelar</button>
                    </div>
                </div>
            </div>
        </EditForm>
    }
    @if (GestorUsuarios.Usuarios.ObtenerTodos().Count == 0)
    {
        <p>No hay usuarios.</p>
    }
    else
    {
        <table class="table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Rol</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (Usuario usuario in GestorUsuarios.Usuarios.ObtenerTodos())
            {
                <tr>
                    <td>@usuario.Nombre</td>
                    <td>@usuario.Apellido</td>
                    <td>@usuario.Email</td>
                    <td>
                        @if (usuario.EsAdministradorSistema)
                        {
                            <span class="badge bg-warning text-dark">Administrador de sistema</span>
                        }
                        @if (usuario.EsAdministradorProyecto)
                        {
                            <span class="badge bg-info text-dark ms-1">Administrador de proyecto</span>
                        }
                    </td>
                    <td>
                        @if (!usuario.EsAdministradorSistema)
                        {
                            <button class="btn btn-sm btn-outline-secondary" @onclick="() => EditarUsuario(usuario.Id)">Editar</button>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
}

@code {
    private bool mostrarFormCrear = false;
    
    private bool mostrarFormEditar = false;
    private bool mostrarError = false;
    private string errorMensaje;
    private UsuarioDTO nuevoUsuario = new UsuarioDTO();
    private UsuarioDTO usuarioAEditar = new UsuarioDTO();
    private int idUsuarioEditando;
    private bool mostrarErrorEditar = false;
    private string errorMensajeEditar;

    private void MostrarFormularioCrearUsuario()
    {
        mostrarFormCrear = true;
        nuevoUsuario = new UsuarioDTO();
    }

    private void CancelarCrearUsuario()
    {
        mostrarFormCrear = false;
        mostrarError = false;
    }

    private void CrearUsuario()
    {
        mostrarError = false;
        errorMensaje = "";
        
        List<ValidationResult> errores = ValidarModelo(nuevoUsuario);
        if (errores.Any())
        {
            errorMensaje = string.Join(" ", errores.Select(e => e.ErrorMessage));
            mostrarError = true;
            return;
        }

        try
        {
            Usuario nuevo = GestorUsuarios.CrearUsuario(
                nuevoUsuario.Nombre,
                nuevoUsuario.Apellido,
                nuevoUsuario.FechaNacimiento,
                nuevoUsuario.Email,
                nuevoUsuario.Contrasena);

            GestorUsuarios.AgregarUsuario(UsuarioActual.UsuarioLogueado, nuevo);
            mostrarFormCrear = false;
            mostrarError = false;
        }
        catch (ExcepcionDominio ex)
        {
            errorMensaje = $"Error al crear usuario: {ex.Message}";
            mostrarError = true;
        }
        catch (Exception ex)
        {
            errorMensaje = "Ocurrió un error inesperado al crear el usuario.";
            mostrarError = true;
        }
    }
    
    private void OcultarError(ChangeEventArgs e)
    {
        mostrarError = false;
    }
    
    private List<ValidationResult> ValidarModelo(object modelo)
    {
        List<ValidationResult> resultados = new List<ValidationResult>();
        ValidationContext contexto = new ValidationContext(modelo, serviceProvider: null, items: null);
        Validator.TryValidateObject(modelo, contexto, resultados, validateAllProperties: true);
        return resultados;
    }

    private void EditarUsuario(int idUsuario)
    {
        Usuario usuario = GestorUsuarios.Usuarios.ObtenerTodos().FirstOrDefault(u => u.Id == idUsuario);
        if (usuario != null)
        {
            usuarioAEditar = new UsuarioDTO()
            {
                Id = usuario.Id,
                Nombre = usuario.Nombre,
                Apellido = usuario.Apellido,
                Email = usuario.Email,
                EsAdministradorSistema = usuario.EsAdministradorSistema,
                EsAdministradorProyecto = usuario.EsAdministradorProyecto
                //contraseña no se como hacerla
                
            };
            idUsuarioEditando = usuario.Id;
            mostrarFormEditar = true;
        }
    }

    private void GuardarCambiosUsuario()
    {
        
        mostrarErrorEditar = false;
        errorMensajeEditar = "";
        List<ValidationResult> errores = ValidarModelo(usuarioAEditar);
        if (errores.Any())
        {
            errorMensajeEditar = string.Join(" ", errores.Select(e => e.ErrorMessage));
            mostrarErrorEditar = true;
            return;
        }
        
        try
        {
            GestorUsuarios.AsignarAdministradorProyecto(UsuarioActual.UsuarioLogueado, idUsuarioEditando);
            //se tendria que fijar si el checkbox esta en true -> asigne el permiso
            // si esta en false -> que desasigne (si se puede (no puede estar administrando un proyecto))
            // faltaria que gestor usuarios tenga un metodo que sea asignar administrador sistema... desasignar no porque no se puede desasignar
            // que se cambie la contraseña

            mostrarFormEditar = false;
            usuarioAEditar = null;
        }
        catch (ExcepcionDominio ex)
        {
            errorMensajeEditar = $"Error al editar usuario: {ex.Message}";
            mostrarErrorEditar = true;
        }
        catch (Exception)
        {
            errorMensajeEditar = "Ocurrió un error inesperado al editar el usuario.";
            mostrarErrorEditar = true;
        }
    }

    private void EliminarUsuario()
    {
        GestorUsuarios.EliminarUsuario(UsuarioActual.UsuarioLogueado, idUsuarioEditando);
        mostrarFormEditar = false;
    }

    private void CancelarEditarUsuario()
    {
        mostrarFormEditar = false;
        mostrarErrorEditar = false;
    }
    
    private void OcultarErrorEditar(ChangeEventArgs e)
    {
        mostrarErrorEditar = false;
    }

    public class UsuarioDTO
    {
        public int Id { get; set; }

        [Required(ErrorMessage = "El nombre es obligatorio.")]
        public string Nombre { get; set; }

        [Required(ErrorMessage = "El apellido es obligatorio.")]
        public string Apellido { get; set; }

        [Required(ErrorMessage = "La fecha de nacimiento es obligatoria.")]
        public DateTime FechaNacimiento { get; set; } = DateTime.Today;

        [Required(ErrorMessage = "El email es obligatorio.")]
        [EmailAddress(ErrorMessage = "Formato de email inválido.")]
        public string Email { get; set; }

        [Required(ErrorMessage = "La contraseña es obligatoria.")]
        public string Contrasena { get; set; }

        public bool EsAdministradorSistema { get; set; }
        public bool EsAdministradorProyecto { get; set; }
    }
}

<!--cuando se pone guardar cambios (al editar) no se porque se muestra la contraseña es obligatoria-->
